body{
    background: Linen;
    margin-top: 50px;
    margin-left: 100px;
 }
 
 h1{
 font-family:Verdana, Geneva, sans-serif;
 font-size: 2.5em;
 color: rgb(17, 75, 120);
 }
 
 p{
 font-family: Georgia, Serif;
 font-size: 1.2em;
 color: rgb(147, 102, 23);
 }
 
 table, th, td {
   border: 1px solid black;
 } 