{% macro light_or_dark_mode(element) %}

{% if request. args.get('mode') == "dark" %}

<a = href="{{ request.path }}">Перемкнути на світлу тему</a>

<style>
    {{ element }} {
    background-color: #212F3C;
    color: #FFFFF0;
    }
    {{ element }} a {
    color: #000000 !important;
    }
</style>
{% else %}
<a href="{{ request.path }}?mode=dark">Перемкнути на темну тему</a>
{% endif %}

{% endmacro %}

{% macro sort_price(tours) %}

<table>
    <tr>
        <th>Назва країни</th>
        <th>Міста туру</th>
        <th>Ціна</th>
    </tr>
    {% if request.args.get("sort") %}
    <a href="{{ request.path }}">Вимкнути сортування</a>

        {% for tour in tours  %}
        <tr>
            <td>{{ tour[1] }}</td>
            <td>{{ tour[2] }}</td>
            <td>{{ tour[3] }}</td>
        </tr>
        {% endfor %}

    {% else %}
    <a href="{{ request.path }}?sort=True">Ввімкнути сортування</a>
        {% for tour in tours %}
        <tr>
            <td>{{ tour[1] }}</td>
            <td>{{ tour[2] }}</td>
            <td>{{ tour[3] }}</td>
        </tr>
        {% endfor %}
    {% endif %}
</table>

{% endmacro %}